<div class="container">
  <h1><%= @cocktail.name %></h1>
  <div class="image-list">
    <%= cl_image_tag @cocktail.photo, height: 300, crop: :fill %>
  </div>
  <h4>Cocktail details</h4>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %> of <%= dose.ingredient.name.downcase %> | <%= link_to 'delete', dose_path(dose), method: :delete %>
      </li>
    <% end %>
  </ul>
<br>

<h4>Add in ingredient</h4>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all, input_html: { class: 'select2' } %>
  <%= f.button :submit, value: 'Add ingredient', class:"btn button" %>
<% end %>
<br>
<br>
</div>
