<div class="container">
  <h1>Add an ingredient for <%= @cocktail.name %></h1>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient.all, input_html: { class: 'select2' } %>
    <%= f.button :submit, value: 'Add ingredient', class:"btn button" %>
    <% end %>
</div>
